.section {
}

.container {
  display: grid;
  grid-template-columns: 30% calc(70% - 2rem);
  gap: 2rem;
}

.leftContent {
  border: 1px solid red;
}

.leftContent .statusMonitor {
  margin-bottom: 1rem;
}

.leftContent .newTodo {
  margin-bottom: 1rem;
}

.rightContent {
}

.rightContent .todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text-primary-color);
}

.rightContent .todoHeader > h1 {
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Space Grotesk Light";
  position: relative;
  overflow: hidden;
}

.rightContent .todoItems {
}

.rightContent .completedItems {
}

.rightContent .completedItems > h1 {
  margin: 6rem 0 1rem;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Space Grotesk Light";
  position: relative;
  overflow: hidden;
}

.rightContent .completedItems > h1::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 90px;
  background-color: var(--text-primary-color);
  height: 1px;
  width: 100%;
}