@keyframes toRight {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

.todoItemDelete {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--secundary-color);
  background-color: red;
  color: var(--text-primary-color);
  cursor: pointer;
  animation: toRight 0.3s ease-in-out;
}