.statsMonitor {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--secundary-color);
  background-color: var(--surface-color);
}

.statsMonitor > h1 {
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Space Grotesk Medium";
}

.mainStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mainStats {
  position: relative;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: conic-gradient(
    var(--secundary-color) calc(100% - calc(var(--percent) * 1%)), 
    var(--primary-color) 0%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 1s ease-in-out; 
}

.mainStats::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--surface-color);
}
.mainStats p {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Space Grotesk Bold";
}

.subStats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.subItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--secundary-color);
}

.subItem p:first-child {
  font-family: "Space Grotesk Light";
  font-size: 0.6rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.subItem p:last-child {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Space Grotesk Bold";
}