.filters {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.filters p {
}

.filters select {
  padding: 0.5rem;
  border: 1px solid var(--text-primary-color);
  background-color: var(--surface-color);
  color: var(--text-primary-color);
}