.todoItem {
  border: 1px solid var(--secundary-color);
  background-color: var(--surface-color);
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.todoItem:has(input:checked) {
  opacity: 0.5;
}

.todoItem > input {
  visibility: hidden;
  position: absolute;
  left: -100dvw;
  top: -100dvh;
}

.todoItem > label {
  position: relative;
  padding: 1.5rem 1rem 1.5rem calc(1rem + 50px);
  cursor: pointer;
  user-select: none;
  display: block;
  color: var(--text-primary-color);
  font-family: "Space Grotesk Bold";
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.todoItem > label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid var(--secundary-color);
  background-color: var(--surface-color);
  z-index: 1;
  cursor: pointer;
}

.todoItem:hover,
.todoItem:hover::before {
  border: 1px solid var(--primary-color);
}

.todoItem > label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: var(--primary-color);
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.todoItem:hover > label::after {
  opacity: 0.25;
}

.todoItem > input:checked + label {
  text-decoration: line-through;
}

.todoItem > input:checked + label::before {
  border-color: var(--primary-color);
}

.todoItem .checkIcon {
  position: absolute;
  left: calc(1rem + 11px);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  width: 11px;
  height: 11px;
  z-index: 3;
}

.todoItem .floatContent {
  font-size: 0.6rem;
  color: var(--text-secondary-color);
  user-select: none;
  z-index: 0;
  min-width: 98px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todoItem .floatContent > span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.todoItem .floatContent > span:first-child {
  margin-top: -3px;
}
